// Here you can add other styles

.loading {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  color: #fff;
}

.loading img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  border-radius: 15px;
}

.mb20 {
  margin-bottom: 30px;
}
.mr10 {
  margin-right: 10px;
}

.no-users {
  margin: 50px auto;
  padding: 15px;
  font-size: 40px;
}
.no-users::before {
  content: "!";
  font-size: 65px;
  padding: 15px;
}

/* a:hover, a:focus {
    text-decoration: none;
    color: #2f353a;
} */

.message {
  width: 100%;
  background-color: green;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  color: #fff;
}

img {
  width: 100%;
}

.app-header .nav-item .nav-link > .img-avatar,
.app-header .nav-item .avatar.nav-link > img {
  height: 35px;
  margin: 0 10px;
  width: 35px;
}
